// Define variables for your color scheme

// For example:
$light-blue: #B9CBC9;
$blue: #0D465B;
$yellow: #FFE6C3;
$orange: #FD9978;
$white: #FFFF;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: #9ACD32;
$red: #DC143C;
$dark-blue: #394F57
