// Specific CSS for your home-page
a {
  text-decoration: none;
}

body {
  background-color: #0D465B;

}
.bodycontainer {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(backgroundlogin.jpg);
  background-size: contain;
}



.homepage-container {
  padding : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  color: white;
  h1 {
    font-family: $headers-font;
    font-size: 20px;
  }

  p {
    font-family: $body-font;
  }
}
