a {
  text-decoration: none;
}

body {
  background-color: #0D465B;
  --bs-gutter-x: 0;

}

.homepage-container {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: white;
  h1 {
    font-family: $headers-font;
    font-size: 18px;
  }

  p {
    font-family: $body-font;
    text-align: center;
    font-size: 14px;
  }
}

.img-quest-homepage .shiba {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.img-quest-homepage {
  background-color: $yellow;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img-quest-homepage img {
  width: 50%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.img-quest-homepage {
  h1{
    color: black;
  }

}

.footer-homepage {
  background-color: $light-blue;
  margin-top: 50px;
  padding-top: 20px;
  text-align:left;
  .footer-text {
    padding-top: 40px;
    padding-bottom: 5rem;
  }
}

.img-shiba-homepage img {
  width: 20%;
  right: -10%;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  transform: scaleX(-1);
}

.quest-homepage-bubble{
  position: relative;
  background-color: $yellow;
  border-radius: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 85%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  color: black;
}

.quest-homepage-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid $yellow;
  border-right: 12px solid transparent;
  border-top: 12px solid $yellow;
  border-bottom: 20px solid transparent;
  left: 100px;
  bottom: -24px;
}
