.h1 {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  color:grey;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color:grey;
  font-weight: bolder;
}

.questContainer {
  padding: 50px;
}
