.container-user-quest {
  margin: 30px auto;
  text-align: justify;
  font-size: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h5, h1 {
  font-family: $shiba-font;
  text-align: center;
}


.card-quest {
  background-color: $light-blue;
  border: 15px solid $yellow;
  text-align: center;
  height: 400px;
  width: 330px;
  margin: 10px;
}
