.container-user-quest {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
  align-items: center;

}


// CSS for hole category

.icon-category-show {
  width: 80px;
  filter: invert(100%);
}

.all-quest-category-show {
  color: white;
  padding-top: 15px;
  justify-content: center;
}



.card-quest {
  background-color: $light-blue;
  border: 15px solid $yellow;
  text-align: center;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

  h1{
    font-family: $headers-font;
    font-size: 10px;
  }

  h2 {
    font-family: $shiba-font;
    text-align: center;
  }

  h3{
    font-family: $body-font;
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
  }
  p {
    color: $dark-blue;
    padding-bottom: 5px;
  }

}

.space-button {
  margin-right: 20px;
}

.dubble-button {
  margin-top: 3px;
  margin-bottom: 30px;
}

.answer-area {
  padding: 6px;
}

.quest-icon {
  height: 15px;
}
