<div class="navbar-user sticky p-3">
  <div class="d-flex w-100">
    <div class= "navbar-avatar">
      <%= image_tag "https://res.cloudinary.com/df6z4mw2e/image/upload/v1654167316/Heroes%20app/Icons/pxArt_2_ihrfi7.png", class: "behind-avatar"%>
    </div>
    <div class="user-infos-navbar d-flex">
      <h2><%= current_user.nickname.capitalize  %></h2>
      <div class="level-infos">
        <p class="level">Level <%= current_user.level %></p>
        <p> ******** </p>
        <div class="d-flex justify-content-between" >
          <p> Quests</p>
          <p>0/4</p>
        </div>
      </div>

    </div>
  </div>
</div>
