<div class="quest-container" >
  <div>
    <div class="col-12">
      <% @quests.each do |quest| %>
        <% if quest.user_quests.where(user: current_user).first&.validated? %>
          <div class="quest-card-validated">
              <p><%= "#{quest.title} -  #{current_user.user_quests.where(quest_id: quest.id).first&.user_occurences}/#{quest.occurences}"%></p>
              <div class="progress-bar-placement">
                <div class=" progress-validated">
                  <div class="progress-bar">
                  </div>
                </div>
              </div>
            </div>
        <% else %>
          <%= link_to (quest_path(quest)) do%>
            <div class="quest-card">
              <% count = current_user.user_quests.where(quest_id: quest.id).first ? current_user.user_quests.where(quest_id: quest.id).first.user_occurences : 0 %>
              <p><%= "#{quest.title} - #{count}/#{quest.occurences}"%></p>
              <div class="progress-bar-placement">
                <div class="progress">
                  <div class="progress-bar">
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%# Pour les occurences, si les user_quest existes, alors on met le code l'occurence, sinon, on met 0 / %>
