<h2>Become the main chacracter of your life !</h2>
<p>Heroes, is he app that will help you attain your goals while making it a game.<br></p>
<p>We will be with you, each step of the way. You don’t need to think ! Just follow our well-thought programm and you won’t even realize you are working on yourself.<br></p>
<p>Follow your destiny, become a hero.</p>


<%= link_to "BECOME A HERO", quests_path, class: "btn-green" %>


<div>
  <P>Best app 2022</P>
  <p>4 millions users</p>
</div>

<div>
  <div>
    <p>Shiba</p>
  </div>
  <div>
    <p>I am your guide ! My name is Shiba and I will help you during your journey !</p>
  </div>
    <%= image_tag "shibbabbig.jpg"%>
</div>

<h2>Meet your guide</h2>
<p>A guide that will be your friend during your journey.</p>

<h1>BEGIN MY JOURNEY</h1>

<P>Have you ever thought that you wanted to improve your life, but never knew where to begin ? That all the books on the market seemed too much time and not enough fun ?
You like challenges ? You like to play ? You want to improve yourself ?
Then Heroes is the right answer for you !
</P>

<h2>Create an avatar & go on adventures</h2>
<p>We follow a traditional gameplay based on quests to level up</p>

<h1>LET'S GO !</h1>
<p>Our app follow a traditional gameplay that you have encountered before. Do a quest, gain experience, fill you gauge and level up, just like a game character ! <br>
When you begin, you choose a class that will fit your needs : either Merchant, for a healthy relationship with money, or Adventurer, to gain confidence. <br>
Each path is divided into 10 levels. To gain a level, a certain amount of experience is needed. How to gain it ? By doing your daily quests ! <br>
Each day, you will have a number of missions to complete, based on the goal you chose. For example, if you wished to gain confidence, one of the quest might be to do some small-talk with a seller ! Once you validate it, you will gain experience: you are one step closer to become a hero. <br></p>

<div class="container">
  <div>
    <p>This is just the beginning of your journey, traveller</p>
  </div>
  <div>
    <%= image_tag "shibbabbig.jpg"%>
  </div>
  <div>
    <h1>START</h1>
  </div>
</div>
