<div class="homepage-container">
  <div>
    <div>
      <h1>Become the main character of your life !</h1>
      <p>Heroes, is the app that will help you attain your goals while making it a game.
      We will be with you, each step of the way. You don’t need to think ! Just follow our well-thought program and you won’t even realize you are working on yourself.
      Follow your destiny, become a hero. </p>
    </div>
  <div>
  <br>
    <%= link_to "BECOME A HERO", new_user_session_path, class: "btn-start space-button d-flex justify-content-center"  %>
  <br>
  </div>
  <div>
    <h1>Meet your guide</h1>
    <p>A guide that will be your friend during your journey.</p>
    <br>
    <%= link_to "BEGIN MY JOURNEY", new_user_session_path, class: "btn-start space-button d-flex justify-content-center"  %>
    <br>
    <%# <p>Have you ever thought that you wanted to improve your life, but never knew where to begin ? That all the books on the market seemed too much time and not enough fun ?
    You like challenges ? You like to play ? You want to improve yourself ?
    Then Heroes is the right answer for you !
    </p> %>
  </div>
</div>
