.swiper-button-prev:after {
  content: none;
}
.swiper-button-next:after {
  content: none;
}

.btn-start {
	background: #FFE6C3;
	box-sizing: border-box;
	color: black;
	cursor: pointer;
  text-align: center;
	font-size: 20px;
	margin-right: 10px;
	padding: 5px;
	text-transform: uppercase;
  box-shadow: $btn-box-shadow;
  border: 3px solid $orange;
  font-family: $headers-font;
  min-width: 35%;
  max-width: 90%;
  text-decoration: none;
  align-items: center;

	&:hover {
		padding: 8px;
    margin: 4px;
	}
}
