
.form-inputs {

  padding-right: 200px;
  padding-left: 200px;
  color: white;
}

.form-actions {
  padding-right: 200px;
  padding-left: 200px;

}

.submit {
  margin-left: 500px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 20px;
}
.form-control {
  background-color: rgb(255, 230, 195);
}

.font-link {
  color: white;
}
