.guild-choice-container {
  margin-bottom: 10rem;

  .guild-card {
    padding: 1rem;
    width: 100vw;
    height: fit-content;



    .guild-start {
      align-items: center;
    }
    .guild-button {
      position: absolute;
      transform: scale(0);
    }

    .guild-button + label {
      background-color: $light-blue;
      width: 100%;
      padding: 2rem;
      border: 20px solid $dark-blue;
      cursor: pointer;

      img {
        width: 7rem;
        height: 7rem;
        margin: auto;
        display: flex;
      }


    }

    .guild-button:checked + label{
      background-color: $yellow;
      border-color: $orange;
    }
    .guild-description{

      h2 {
        font-family: $shiba-font;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
