.navbar-visitor {
  justify-content: space-between;
  background: $light-blue;
  position: sticky;
  top: 0px;
}

.navbar-visitor .navbar-collapse {
  flex-grow: 0;
}

.navbar-visitor .navbar-brand img {
  width: 40px;
}

 .navbar-brand h1 {
  font-family: $headers-font;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
