.navbar-bottom {
  background: $light-blue;
  position: fixed;
  width: 100vw;
  // height: 5rem;
  bottom: 0px;
  z-index: 10;
  height: 10vh;
}

.icons-bottom{
	background: #FFE6C3;
	box-sizing: border-box;
  box-shadow: $icons-box-shadow;
  border: 3px solid $dark-blue;
  font-size: 25px;
  display: grid;
  place-content: center;

	&:hover {
		padding: 8px;
    margin: 4px;
	}
}

.navbar-icon {
  i {
    width: 50px;
    height: 50px;
  }
}

// .navbar-padding {
//   padding-top: 5rem;
// }
