
.container-bar {
  margin: 100px auto;
  width: 266px;
  text-align: center;
}

.progress {
  padding: 6px;
  width: 90%;
  margin-bottom: 8px;
  background: white;
  box-shadow: 0 1px 2px $blue;
}

.progress-striped .progress-bar {
  background-color: #eee9e9;
  width: 100%;
  background-image: linear-gradient(
    45deg, $dark-blue, $blue
        );
  animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
  from { width: 0 }
  to   { width: 100% }
}

.progress-validated {
  padding: 6px;
  background:$orange;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  width: 90%;
  margin-bottom: 8px;
}

.progress-bar-placement {
  display: flex;
  justify-content: center;
}
