.quest-container {
  overflow: auto;
}

.quest-card {
  background-color: $light-blue;
  margin:10px;
  border-radius: 5px;
  max-height: fit-content;
  font-family: $shiba-font;
  p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}


.quest-card-validated {
  background-color: $yellow;
  margin:10px;
  border-radius: 5px;
  max-height: fit-content;
  font-family: $shiba-font;

  p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

.icon-category {
  width: 40px;

}
