.quest-container {
  overflow: auto;
}

.quest-card {
  background-color: $light-blue;
  margin:10px;
  border-radius: 5px;
  max-height: fit-content;
  font-family: $shiba-font;
  padding-right: 5px;
  padding-left: 5px;
  p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}


.quest-card-validated {
  background-color: $yellow;
  margin:10px;
  border-radius: 5px;
  max-height: fit-content;
  font-family: $shiba-font;

  p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

.icon-category {
  width: 30px;
  padding-top: 10px;
  // filter: saturate(500%) contrast(800%) brightness(300%)
  // invert(80%) sepia(50%) hue-rotate(120deg);
}
