.shiba {
  background-color: $light-blue;
  color: black;
  font-family: $shiba-font;
  line-height: 20px;
  border-radius: 5px;
  height: 15%;
	display: block;
  padding: 5px;
  margin: 10px;
  box-sizing: unset;
}

.shiba .shiba-name-tag {
  background: $yellow;
	width: 40%;
	display: block;
	border-radius: 5px;
  padding: 5px;
	text-align: center;
  margin-bottom: 0;
  margin-left: 10px;

}
.shiba .shiba-speech {
  margin-left: 10px;
  margin-right: 10px;
}

.shiba img {
 width: 20%;
 border-radius: 5px;

}

.fa-caret-down {
  color: $yellow;
  display: flex;
  justify-content: flex-end;
}
